<!doctype html>
<html lang="pl">
 <head>
  <% include head %>
 </head>
  <% include menu %>
 <body>
   <div class="container">
     <h1><%= path %></h1>
    <ul class="list-group">
    <% files.forEach((file) => { %>
    <li class="list-group-item"><a href=<%= `/dokumenty/${path}/${file}` %>><%= file.replace(/_/g,' ') %></a></li>
    <% }) %>
      </ul>
  </div>
 </body>
 <% include footer %>
 <script type="text/javascript" src="/js/js_in.js"></script>
</html>
