<!DOCTYPE html>
<html lang="pl">
<head>
  <% include head %>
</head>
<body>

<% include menu %>
<div class="container text-center">    
      <h1>Galeria plików</h1>
      <table class="table">
        <tr>
          <td><a href="#" /a><img src="/icons/1.png" /><br>Regulaminy</td>
            <td><a href="instrukcje" /a><img src="/icons/5.png" /><br>Instrukcje</td>
          <td><a href="#" /a><img src="/icons/2.png" /><br>Zarządzenia</td>
        </tr>
        <tr>
          <td><a href="wnioski" /a><img src="/icons/3.png" /><br>Wnioski</td>
          <td><a href="rozne" /a><img src="/icons/4.png" /><br>Różne</td>
        </tr>
      </table>
</div>

  <footer class="page-footer container-fluid text-center">
    <p>Copyright by Karabasz Software</p>
  </footer>
     <script type="text/javascript" src="/js/js_in.js"></script>

</body>
</html>
