<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
     <div class="container-fluid">
        <div class="navbar-header">
           <img id="logo_sano" class="navbar-brand" src="/grafika/sano_icon.jpg">
        </div>
          <ul class="nav navbar-nav mr-auto mt-2 mt-lg-0">
             <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="telefonyBiuro">Tel. Biuro</a></li>
            <li class="nav-item"><a class="nav-link" href="telefonySklepy">Tel. Sklepy</a></li>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
    <button class="dropdown-item" type="button">Action</button>
    <button class="dropdown-item" type="button">Another action</button>
    <button class="dropdown-item" type="button">Something else here</button>
  </div>
</div>
          </ul>



            <span  id="zegar" class="navbar-text navbar-right"></span>
         </div>
     </nav>
